@{
    ViewBag.Title = "Home Page";
}

<h3>Concevez votre inteligence artificielle et mettez la dans l'arène.</h3>
<ol class="round">
    <li class="one">
        Aucune competance en informatique n'est nécéssaire juste un peu de logique et de l'anticipation.
    </li>

    <li class="two">
        Programmez votre inteligence artificielle et mettez la en concurrence avec celle des autres !
    </li>

    <li class="three">
        Grace a la puissance de l'informatique votre inteligence artificielle peut disputer plus de 100 parties par minutes!
    </li>
</ol>
